<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>SANDRA</h1>
    <h4> {{name}}</h4>
    <h4> {{bootcamp}}</h4>
    <img
      src="https://media4.giphy.com/media/rrmf3fICPZWg1MMXOW/giphy.gif?cid=ecf05e47dc2139c688dfdc41cac83a989a71a1d136dc3b13&ep=v1_gifs_gifId&rid=giphy.gif&ct=g"
      alt=""
    />
  </body>
</html>